.result-card {
  display: inline-block;
  padding: 15px;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif !important;
}

.card {
  width: 300px;
}

.search-form {
  margin-top: 10px;
  border: solid 2px #e57373;
  padding-left: 25px;
  padding-top: 35px;
  border-radius: 50px;;
}

/* label color */
  .input-field label {
    color: #000;
    font-size: 1.5em;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000  ;
    font-size: 1.1em;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #e57373;
  }

#nav-logo {
  height: 40px;
  margin: 10px 0 0 10px !important;
}

nav a {
  font-size: 20px !important;
  font-weight: 200;
}
