.result-card {
  display: inline-block;
  padding: 15px;
}

.card {
  width: 300px;
}

.search-form {
  margin-top: 20%;
  border: solid 2px #e57373;
  padding-left: 25px;
  border-radius: 50px;;
}

/* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #e57373  ;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #e57373;
  }

#nav-logo {
  height: 50px;
  margin: 5px 0 0 10px !important;
}
